# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual env
.venv/

# IDE
.idea/

# Outputs / Logs
*.log
*.ymal
*.zip
# OS
*.pdf
*.json
*.xlsx
smart_vin_decoder.pkl

# Environment variables
.env
.env.local
.env.*.local

